<a href="https://colab.research.google.com/github/HawaKallon/HawaKallon.github.io/blob/main/Buju.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = (1, 3, 5, 'Hi', 4)
data

(1, 3, 5, 'Hi', 4)

In [ ]:
type(data)

tuple

In [ ]:
names = ['Hawa', 'Lia', 'Ricky']
converted_names = tuple(names)
converted_names

('Hawa', 'Lia', 'Ricky')

In [ ]:
type(converted_names)

tuple

In [ ]:
len(converted_names)

3

In [ ]:
print(converted_names[0])
print(converted_names[1])
print(converted_names[2])

Hawa
Lia
Ricky

In [ ]:
days_of_the_week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
weekend = days_of_the_week[4:7]
weekend

('Friday', 'Saturday', 'Sunday')

In [ ]:
working_days = days_of_the_week[0:5]
working_days

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [ ]:
converted_names[0] = 'Buju'

TypeError: ignored

In [ ]:
for day in days_of_the_week:
  print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [ ]:
vowels = ("a", "e", "i", "o", "u")
for vowel in vowels:
  print(vowel.upper(),end = " - ")

A - E - I - O - U -

In [ ]:
teams = "madrid", "liverpool", "arsenal", "man U", "chelsea"
teams

('madrid', 'liverpool', 'arsenal', 'man U', 'chelsea')

In [ ]:
print(teams)

('madrid', 'liverpool', 'arsenal', 'man U', 'chelsea')

In [ ]:
student_info = 99, 'Hawa', 'BSEM', 'FICT'
grade, name, course, faculty = student_info
print(grade, '\n', name, '\n', course, '\n', faculty )

99
 Hawa
 BSEM
 FICT

In [ ]:
print(name, '\n', grade, '\n', course, '\n', faculty )

Hawa
 99
 BSEM
 FICT

In [ ]:
fruits = ('apple', 'banana', 'orange', 'grape', 'kiwi')
print('apple' in fruits and 'orange' in fruits)

True

In [ ]:
print('guave' in fruits and 'kiwi' in fruits)

False

# exercises

In [ ]:
cardinal_numbers = ("first", "second", "third")
cardinal_numbers

('first', 'second', 'third')

In [ ]:
print(cardinal_numbers[1])

second

In [ ]:
position1, position2, position3 = cardinal_numbers
print(position1, '\n', position2, '\n', position3, '\n')

first
 second
 third

In [ ]:
my_name1 = ('H', 'A', 'W', 'A')
print(my_name1)
letters = ('H', 'A', 'W', 'A')
my_name2 = tuple(letters)
print(my_name2)

('H', 'A', 'W', 'A')
('H', 'A', 'W', 'A')

In [ ]:
print('x' in my_name1)
print('A' in my_name1)

False
True

In [ ]:
new_name = my_name1[1:4]
print(new_name)

('A', 'W', 'A')

# LIST

In [ ]:
list1  = [1, 2, 3, 4, 5, 'hii']
list1

[1, 2, 3, 4, 5, 'hii']

In [ ]:
type(list1)

list

In [ ]:
numbers = list((1, 2, 3, "hohoho"))
numbers

[1, 2, 3, 'hohoho']

In [ ]:
list("hawa")

['h', 'a', 'w', 'a']

In [ ]:
groceries = "eggs, milk, cheese"
grocery_list = groceries.spilt(", ")
grocery_list

AttributeError: ignored

In [ ]:
grocery_list = groceries.split(", ")
grocery_list

['eggs', 'milk', 'cheese']

In [ ]:
numbers = [1, 2, 3, 4]
numbers[3]

4

In [ ]:
newNumbers = numbers[2:4]
newNumbers

[3, 4]

In [ ]:
"hawa" in numbers

False

In [ ]:
numbers[3] = 8
print(numbers)

[1, 2, 3, 8]

In [ ]:
colors = ['red', 'yellow', 'green', 'blue']
colors[0] = 'burgundy'
colors

['burgundy', 'yellow', 'green', 'blue']

In [ ]:
colors[1:3] = ['orange', 'magenta']
colors

['burgundy', 'orange', 'magenta', 'blue']

In [ ]:
colors.insert(2, 'violet')
colors

['burgundy', 'orange', 'violet', 'magenta', 'blue']

In [ ]:
colors.pop(3)
colors

['burgundy', 'orange', 'violet', 'blue']

In [ ]:
colors.append('indigo')
colors

['burgundy', 'orange', 'violet', 'blue', 'indigo', 'indigo']

In [ ]:
colors.pop(4)
colors

['burgundy', 'orange', 'violet', 'blue', 'indigo']

In [ ]:
colors.append('yellow', 'red')
colors

TypeError: ignored

In [ ]:
colors.append('yellow')
colors

['burgundy', 'orange', 'violet', 'blue', 'indigo', 'yellow']

In [ ]:
len(colors)

6

In [ ]:
colors.insert(len(colors), 'red')
colors

['burgundy', 'orange', 'violet', 'blue', 'indigo', 'yellow', 'red']

In [ ]:
colors.extend(["violet", "ultraviolent"])
colors

['burgundy',
 'orange',
 'violet',
 'blue',
 'indigo',
 'yellow',
 'red',
 'violet',
 'ultraviolent']

In [ ]:
grades = [78, 90, 99, 89, 77]
total_grade = 0
for grade in grades:
  total_grade = total_grade + grade
total_grade

433

In [ ]:
nums = [1, 2 , 3, 4, 5]
total = 0
for number in nums:
  total = total + number
total

15

In [ ]:
numbers = [1,2, 3, 4, 5]
squares = [num**2 for num in numbers]
squares

[1, 4, 9, 16, 25]

In [ ]:
grades = [35, 85, 105]
new_grades = [num+10 for num in grades]
new_grades

[45, 95, 115]

# Exercise 2

In [ ]:
food = ['rice', 'beans']
food

['rice', 'beans']

In [ ]:
food.append('broccoli')

In [ ]:
food

['rice', 'beans', 'broccoli']

In [ ]:
food.extend(['bread', 'pizza'])
food

['rice', 'beans', 'broccoli', 'bread', 'pizza']

In [ ]:
newfood = food[0:2]
print(newfood)

['rice', 'beans']

In [ ]:
lastfood = food[-1]
print(lastfood)

pizza

In [ ]:
breakfast_list = "eggs, fruits, orange juice"
breakfast = breakfast_list.split(", ")
breakfast

['eggs', 'fruits', 'orange juice']

In [ ]:
len(breakfast)

3

In [ ]:

lengths = [len(word) for word in breakfast]
print(lengths)

[4, 6, 12]

Exercise 3

In [ ]:
data = ([1, 2], [3, 4])
data

([1, 2], [3, 4])

In [ ]:
type(data)

tuple

In [ ]:
for i, tup in enumerate(data, start=1):
    row_sum = sum(tup)
    print(f"Row {i} sum: {row_sum}")

Row 1 sum: 3
Row 2 sum: 7

In [ ]:
number = [4, 3, 2, 1]
number

[4, 3, 2, 1]

In [ ]:
number_copy = number[:]
number_copy

[4, 3, 2, 1]

In [ ]:
number.sort()
number

[1, 2, 3, 4]

Write a program that contains the following lists of lists:

Define a function, enrollment_stats(), that takes, as an input, a list of lists where each individual list contains three elements: (a) the name of a university, (b) the total number of enrolled students, and (c) the annual tuition fees. enrollment_stats() should return two lists: the first containing all of the student enrollment values and the second containing all of the tuition fees. Next, define a mean() and a median() function. Both functions should take a single lis s an argument and return the mean and median of the values in each list. Using universities, enrollment_stats(), mean(), and median(), calculate the total number of students, the total tuition, the mean and median of the number of students, and the mean and median tuition values. Finally, output all values, and format the output so that it looks like this:

In [ ]:
def enrollment_stats(universities):
    enrollments = [row[1] for row in universities]
    tuitions = [row[2] for row in universities]
    return enrollments, tuitions

def mean(data):
    return sum(data) / len(data)

def median(data):
    sorted_data = sorted(data)
    length = len(sorted_data)
    if length % 2 == 0:
        middle = length // 2
        return (sorted_data[middle - 1] + sorted_data[middle]) / 2
    else:
        return sorted_data[length // 2]

universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

enrollments, tuitions = enrollment_stats(universities)

total_students = sum(enrollments)
total_tuition = sum(tuitions)
mean_students = mean(enrollments)
median_students = median(enrollments)
mean_tuition = mean(tuitions)
median_tuition = median(tuitions)

print("Total students:", total_students)
print("Total tuition:", total_tuition)
print("Mean number of students:", mean_students)
print("Median number of students:", median_students)
print("Mean tuition:", mean_tuition)
print("Median tuition:", median_tuition)

Total students: 77285
Total tuition: 271905
Mean number of students: 11040.714285714286
Median number of students: 10566
Mean tuition: 38843.57142857143
Median tuition: 39849

EXERCISE **4**

In [ ]:
captains = {}
captains['Picard Voyager'] = 'Janeway'
captains['Defiant'] = 'Sisko'
captains

{'Picard Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [ ]:
if "Enterprise" in captains:
    print(captains['Enterprise'])
else:
      captains['Enterprise'] = 'unknown'


if "Discovery" in captains:
     print(captains['Discovery'])
else:
      captains['Discovery'] = 'unknown'

In [ ]:
captains

{'Picard Voyager': 'Janeway',
 'Defiant': 'Sisko',
 'Enterprise': 'unknown',
 'Discovery': 'unknown'}

In [ ]:
for ship, captain_names in captains.items():
    print(f"The {ship} is Captained by {captain_names}")

The Picard Voyager is Captained by Janeway
The Defiant is Captained by Sisko
The Enterprise is Captained by unknown
The Discovery is Captained by unknown

In [ ]:
del captains['Discovery']
captains

{'Picard Voyager': 'Janeway', 'Defiant': 'Sisko', 'Enterprise': 'unknown'}

In [ ]:



captains = dict({'Picard Voyager' : 'Janeway', 'Defiant' : 'Sisko', 'Enterprise' : 'unknown', 'Discovery' :'unknown'})
captains

{'Picard Voyager': 'Janeway',
 'Defiant': 'Sisko',
 'Enterprise': 'unknown',
 'Discovery': 'unknown'}

EXERCISE 5

In [ ]:
# Initialize a list of 100 cats without hats (False represents no hat)
cats = [False] * 100

# Walk around the circle 100 times
for round_number in range(1, 101):
    # Visit each cat and toggle the hat status based on the round number
    for cat_number in range(round_number - 1, 100, round_number):
        cats[cat_number] = not cats[cat_number]
        # Put a hat if none, take off if already has

# Create a list of cats with hats at the end
cats_with_hats = []
for cat_number, has_hat in enumerate(cats):
    if has_hat:
        cats_with_hats.append(cat_number + 1)

# Print the cats with hats at the end
print("Cats with hats at the end:", cats_with_hats)

Cats with hats at the end: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

FUNCTIONS

In [ ]:
h = 'hawa'
id(h)

138697012333424

In [ ]:
def welcome(name):
  print(f'Welcome to Django girls, {name}')

welcome('Hawa')

Welcome to Django girls, Hawa

In [ ]:
def say_hello(name, course):
  print(f'Hello, {name}. I am studying {course}')


say_hello('Buju', 'BSEM')

Hello, Buju. I am studying BSEM

In [ ]:
def my_bestie(name, university, age):
  print(f'The name of my bestie is {name}. She is attending {university} and she is {age} years old. ')

my_bestie('Precious', 'Limkokwing', 21)

The name of my bestie is Precious. She is attending Limkokwing and she is 21 years old.

In [ ]:
def addition(num1, num2, num3):
  add = num1 + num2 + num3
  return add
addition(3, 6, 7)

16

In [ ]:
def subtraction(num1, num2):
  if num1 > num2:
    subtract = num1 - num2
  else:
    subtract = num2 - num1
  return subtract
subtraction(7, 15)

8

In [ ]:
def multiplication(num1, num2):
 """
this function calculates the product of the two arguments given to it
 """
 multiply = num1 * num2
 return multiply
multiplication(3, 5)

15

In [ ]:
help(multiplication)

Help on function multiplication in module __main__:

multiplication(num1, num2)
    this function calculates the product of the two arguments given to it

In [ ]:
def cube(num):
  '''
  this function returns the cube of the given argument
  '''
  result = num * num * num
  return result
cube(3)

27

In [ ]:
def greet(name):
  '''
  this void function greets the user
   '''
  print(f'Hello {name}!')
greet('Buju')

Hello Buju!

In [ ]:
def convert_cel_to_far(celsius):
  f = celsius * (9/5) + 32
  return f
convert_cel_to_far(32)

89.6

In [ ]:
def convert_far_to_cel(fahrenheit):
  c = (fahrenheit - 32) * (5/9)
  return c
convert_far_to_cel(89.6)

32.0

In [ ]:
def calories_from_fat(fat_grams):
  calories_from_fat = fat_grams * 9
  return calories_from_fat

def calories_from_carbohydrates(carb_grams):
  calories_from_carbs = carb_grams * 9
  return calories_from_carbs

In [ ]:
def get_fat_gram():
  fat_grams = float(input('Enter fat gram'))
  return fat_grams

def get_carb_gram():
  carb_grams = float(input('Enter carb gram'))
  return carb_grams

In [ ]:
fat = get_fat_gram()
carb = get_carb_gram()

fat_result = calories_from_fat(fat)
carb_result = calories_from_carbohydrates(carb)

print(fat_result)
print(carb_result)

Enter fat gram15
Enter carb gram20
135.0
180.0

**CLASSES**

In [ ]:
class Student:
  # class attributes
  university_name = "Limkokwing University"
  def __init__ (self, id, name, course):
    # instance attributes
    self.student_id = id
    self.student_name = name
    self.student_course = course

  def get_id(self):
    return self.student_id

  def set_id(self, id):
    self.student_id = id

  def get_name(self):
    return self.student_name

  def set_name(self, name):
    self.student_name = name

  def get_course(self):
    return self.student_course

  def set_course(self, course):
    self.student_course = course

  def __str__ (self):
    return (
        f'Student Name : {self.student_name} \n'
        f'Student ID : {self.student_id} \n'
        f'Student Course of Study : {self.student_course} \n'
    )
  pass

In [ ]:
hawa = Student(27, "Hawa", "BSEM")
lia = Student(32, "Lia", "BIT")

In [ ]:
hawa.get_course()

'BSEM'

In [ ]:
hawa.university_name == lia.university_name

True

In [ ]:
print(hawa)

Student Name : Hawa
Student ID : 27
Student Course of Study : BSEM

In [ ]:
print(lia)

Student Name : Lia
Student ID : 32
Student Course of Study : BIT

In [ ]:
def get_id(self):
  return self.student_id

def set_id(self, id):
  self.student_id = id

when you want to create a list you use a list literal "[ ]"

class is a blueprint of creating an object

__init__ means initialization  
double underscore (__) means dunder
constructor are methods that are called whenever
this is used to represents an object (used to self reference but in python the keyword self is used)

how to create an object of a class using the __init__ method check above
the self.student_id are called student attributes or properties

getters are also called accessor (because you access information with them)
setters are called the mutators (because you make changes with them)

In [4]:
class Car:
  def __init__ (self, model, make, speed, color):
    # instance attributes
    self.car_model = model
    self.car_make = make
    self.car_speed = speed
    self.car_color = color
    self.started = False
    self.max_speed = 200

  def get_car_speed(self):
    return self.car_speed

  def set_car_speed(self, value):
    self.car_speed = value

  def get_car_model(self):
    return self.car_model

  def set_car_model(self, value):
    self.car_model = value

  def get_car_make(self):
    return self.car_make

  def set_car_make(self, value):
    self.car_make = value

  def get_car_color(self):
    return self.car_color

  def set_car_color(self, value):
    self.car_color = value

  def accelerate(self):
    if self.started:
      print("YOU SHOULD START THE CAR")
    if self.car_speed + 5 > self.max_speed:
      self.car_speed = self.max_speed
    else:
      self.car_speed += 5

    print(f'Accelerating at {self.car_speed} km/hr....')

  def brake(self):
    if self.car_speed - 5 < 0:
      self.car_speed = 0
    else:
      self.car_speed -= 5

  def __str__ (self):
    return (
        f'Car Make : {self.car_make} \n'
        f'Car Model : {self.car_model} \n'
        f'Car Color : {self.car_color} \n'
        f'Car Speed : {self.car_speed}'
    )

In [5]:
porsche = Car(2021, "Porsche", 30, "Purple")

In [6]:
porsche.accelerate()
porsche.accelerate()

Accelerating at 35 km/hr....
Accelerating at 40 km/hr....

In [ ]:
porsche.brake()

In [7]:
print(porsche)

Car Make : Porsche
Car Model : 2021
Car Color : Purple
Car Speed : 40

In [8]:
def get_car_model(self):
    return self.car_model

def set_car_model(self, value):
    self.car_model = value

def get_car_make(self):
    return self.car_make

def set_car_make(self, value):
    self.car_make = value

def get_car_color(self):
    return self.car_color

def set_car_color(self, value):
    self.car_color = value

In [9]:
print(porsche)

Car Make : Porsche
Car Model : 2021
Car Color : Purple
Car Speed : 40